
body {
    background: lightyellow;
}

html {
    overflow: scroll;
    overflow-x: hidden;
}
::-webkit-scrollbar {
    position: absolute;
    background: transparent;
}

::-webkit-scrollbar-thumb {
    background: lightblue;
    border: blue solid 1px;
    border-radius:  10px;
}

.react-logo {
    position: absolute;
    animation: logo-spin infinite 10s linear;
    height: 130px;
    top : -25px;
    left : -100px;

}

.socket-logo {
    position: absolute;
    animation: logo-spin infinite 2s reverse;
    height: 120px;
    top : 270px;
    left : 400px;

}

.mongo-logo {
    position: absolute;
    height: 100px;
    top : 270px;
    left : -70px;

}

.node-logo {
    position: absolute;
    height: 100px;
    top : -25px;
    left : 350px;

}

@keyframes logo-spin {
    from { transform: rotate(0deg); }
    to { transform: rotate(360deg); }
}